.full-blog {
    background-color: #E8F0CE;
    border-radius: 25px;
    max-width: 80%;
    margin: 2em 2em;
    padding: 2em;
}

.full-blog-header-sub-title {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-blog-body {
    text-align: left;
    text-indent: 4em;
}