.new-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-blog-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}