.main-header {
    background-color:#cee8f0;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-header__title a {
    text-shadow: 4px 3px 3px #fff;
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px) {
    .main-header h1 {
        margin: 0.10em;
    }

    nav {
        display: none;
    }
}