.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 80%;
}

.home-image {
    max-width: 500px;
}

@media (max-width: 768px) {
    .home-image {
        max-width: 300px;
    }
}